#page-pokemon-fav {
  width: 100vw;
  height: 100vh;
}

.navbar-fav {
  width: 100%;
  padding: 1.6rem;
  display: grid;
  position: fixed;
  z-index:1;
  grid-template-rows: 4.2rem ;
  grid-template-columns: 2fr 135px 250px;
  grid-template-areas: 
    "input social-media button"
  ;
  background: var(--color-primary-light);
}

.navbar-fav #input-link {
  grid-area: input;
  font-size: 2.4rem;
  padding: 0.8rem;
  background: var(--color-input-background);
}

.navbar-fav #share-social-medias {
  grid-area: social-media;
  width:100%;
  margin-left:1.1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navbar-fav #share-social-medias .btn-share-sm {
  width: 100%;
  text-decoration: none;
  border-radius: 0.8rem;
  padding:0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: var(--color-button-text);
}

.navbar-fav #share-social-medias #sr-facebook {
  background-color: #3b5998;
}
.navbar-fav #share-social-medias #sr-twitter {
  background-color: #00acee;
  margin-left: 0.5rem;
}
.navbar-fav #share-social-medias #sr-whatsapp {
  background-color: #4ac959;
  margin-left: 1.0rem;
}

.navbar-fav #link-list-pokemon {
  grid-area: button;
  color: var(--color-button-text);
  background: var(--color-primary);
  border-radius: 0.8rem;
  margin-left: 3.2rem;
  margin-right: 1.6rem;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-fav #link-list-pokemon:after {
  content: 'Lista';
}

.name-area {
  width: 74rem;
  margin: auto;
  margin-top: 7.8rem;
  padding: 1.6rem;
}

.name-area #input-name-user {
  width: 100%;
  font-size: 1.6rem;
  padding: 0.8rem;
  background: var(--color-input-background);
}

#pokemon-fav-area{
  margin: auto;
  width: 72rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 800px) {

  .navbar-fav {
    grid-template-columns: 40% 1fr 1fr ;
    grid-template-areas: 
    "input social-media button"
  ;
  }

  .navbar-fav #link-list-pokemon{
    margin-right:0;
  }

  .navbar-fav #link-list-pokemon:after {
    font-size: 2.6rem;
    content: '≡';
    
  }

  .navbar-fav #input-link {
    font-size: 1.2rem;
  }

  .name-area {
    width: 38rem;
  }
  
  .name-area #input-name-user {
    font-size: 1.2rem;
  }

  #pokemon-fav-area{
    width: 30rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}