.pokemon-area{
  width: 17rem;
  height: 17rem;
  margin: 0.5rem;
  background: var(--color-primary-lighter);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.pokemon-favorited{
  background: var(--color-secundary) !important;
}

.pokemon-area .pokemon-type,
.pokemon-area .pokemon-name{
  font-size: 1.1rem;
}

.pokemon-area .pokemon-image-area{
  width: 13rem;
}

.pokemon-area .pokemon-image-area .pokemon-image{
  position: relative;
  width: 100%;
}