:root {
    font-size: 60%;
  
    --color-background: #f7e0e0;
    --color-primary-lighter: #ffa3a3;
    --color-primary-light: #FF7070;
    --color-primary: #FF2424;
    --color-primary-dark: #CC1D1D;
    --color-primary-darker: #801212;
    --color-secundary: #FFD83B;
    --color-secundary-dark: #EBBE09;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #ffc2c2;
    --color-text-title: #4d2626;
    --color-text-complement: #a69898;
    --color-text-base: #806161;
    --color-line-in-white: #f0e6e6;
    --color-input-background: #fcf8f8;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body, #root {
    height: 100vh;
  }
  
  body {
    background: var(--color-background);
  }
  
  #root {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  body,
  input,
  button,
  textarea {
    font: 500 1.6rem "Press Start 2P";
    color: var(--color-text-base);
  }
  
  .container {
    width: 90vw;
    max-width: 700px;
  }
  
  @media (min-width: 700px) {
    :root {
      font-size: 62.5%;
    }
  }